<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ottplay API Automation Suite">

    <listeners>
        <listener class-name="utils.RetryTransformer"/>
        <listener class-name="utils.ExtentTestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login API Tests">
        <parameter name="author" value="Vishwajeet"/>
        <classes>
            <class name="auth.LoginTests"/>
            <class name="profile.ProfileTest"/>
        </classes>
    </test>

        <test name="Like API Tests">
            <parameter name="author" value="Shovishu"/>
            <classes>
                <class name="like.GetLikesTest"/>
                <class name="like.AddLikeTest"/>
                <class name="like.DeleteLikeTest"/>
            </classes>
        </test>

    <test name="Watchlist API Tests">
        <parameter name="author" value="Shovishu"/>
        <classes>
            <class name="watchlist.GetWatchlistTest"/>
            <class name="watchlist.AddWatchlistTest"/>
            <class name="watchlist.DeleteWatchlistTest"/>
        </classes>
    </test>

        <test name="Manage Profile API Tests">
            <parameter name="author" value="Shovishu"/>
            <classes>
                <class name="manage.profile.AvatarsListTests"/>
                <class name="manage.profile.ProfilesListTest"/>
                <class name="manage.profile.CreateProfileTests"/>
                <class name="manage.profile.DeleteProfileTests"/>
            </classes>
        </test>

</suite>


        <!--                            These two only to be done on prod                       -->
        <!--            <class name="player.VideoPlayerTests"/>-->
        <!--            <class name="player.MediaProgressTests"/>-->
